[submodule "src/bme68x/BoschBME68XApi"]
	path = src/bme68x/BoschBME68XApi
	url = https://github.com/boschsensortec/BME68x-Sensor-API.git
[submodule "src/littlefs"]
	path = src/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/lwgps"]
	path = lib/lwgps
	url = https://github.com/MaJerle/lwgps
	branch = main
[submodule "src/pico-icm20948"]
	path = src/pico-icm20948
	url = https://github.com/CanSat-Athena/pico-icm20948.git
[submodule "src/pico-lora"]
	path = src/pico-lora
	url = https://github.com/CanSat-Athena/pico-lora.git
