.cache/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/.ninja_deps
build/.ninja_log
build/*.uf2
build/*.map
build/*.bin
build/*.dis
build/*.hex
build/*.core
build/*.elf
build/*.elf.map
build/.ninja_log