.cache/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/.ninja_deps
build/.ninja_log
build/**.uf2
build/**.map
build/**.bin
build/**.dis
build/**.hex
build/**.core
build/**.elf
build/src/*.uf2
build/src/**.map
build/src/**.bin
build/src/**.dis
build/src/**.hex
build/src/**.core
build/src/**.elf
build/src/**.elf.map
build/.ninja_log